    {% for post in posts %}

    <li class="item">
        <div class="item-row">
            <div class="item-col fixed item-col-check">
                <label class="item-check" id="select-all-items">
                    <input type="checkbox" class="checkbox">
                    <span></span>
                </label>
            </div>
            <div class="item-col fixed item-col-img md">
                <a href="item-editor.html">
                    <div class="item-img rounded" style="background-image: url(https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg)"></div>
                </a>
            </div>
            <div class="item-col fixed pull-left item-col-title">
                <div class="item-heading">Name</div>
                <div>
                    <a href="item-editor.html" class="">
                        <h4 class="item-title">{{ post.head or 1 }}</h4>
                    </a>
                </div>
            </div>
            <div class="item-col item-col-sales">
                <div class="item-heading">Sales</div>
                <div> {{ post.visits }} </div>
            </div>
            <div class="item-col item-col-stats no-overflow">
                <div class="item-heading">Stats</div>
                <div class="no-overflow">
                    <div class="item-stats sparkline" data-type="bar"></div>
                </div>
            </div>
            <div class="item-col item-col-category no-overflow">
                <div class="item-heading">Category</div>
                <div class="no-overflow">
                    <a href="">{{post.category.name}}</a>
                </div>
            </div>
            <div class="item-col item-col-author">
                <div class="item-heading">Author</div>
                <div class="no-overflow">
                    <a href="">{{ post.author.name or '' }}</a>
                </div>
            </div>
            <div class="item-col item-col-date">
                <div class="item-heading">Comments</div>
                <div class="no-overflow"> {{ post.comments.count() }} </div>
            </div>
            <div class="item-col item-col-date">
                <div class="item-heading">Published</div>
                <div class="no-overflow"> {{ moment(post.timestamp).fromNow() }} </div>
            </div>
            <div class="item-col fixed item-col-actions-dropdown">
                <div class="item-actions-dropdown">
                    <a class="item-actions-toggle-btn">
                        <span class="inactive">
                            <i class="fa fa-cog"></i>
                        </span>
                        <span class="active">
                            <i class="fa fa-chevron-circle-right"></i>
                        </span>
                    </a>
                    {% if current_user == post.author %}
                    <div class="item-actions-block">
                        <ul class="item-actions-list">
                            <li>
                                <a class="remove" href="{{ url_for('.edit', id=post.id) }}" data-toggle="modal" data-target="#confirm-modal">
                                    <i class="fa fa-trash-o "></i>
                                </a>
                            </li>
                            <li>
                                <a class="edit" href="{{ url_for('.edit', id=post.id) }}">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <a class="edit" href="{{ url_for('.post', id=post.id) }}#comments">
                                    <i class="fa fa-comment"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </li>
    {% endfor %}
