{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Fly{% endblock %}


{% block topimg %}           
<section class="content" style= "background:url('../static/img/top_wind.jpg')">
  <h3 class="widget-user-username"><a href="https://github.com/ifwenvlook/blog.git">获取源码（参考ifwenvlook的源码）</a><a href="https://github.com/ifwenvlook/blog.git" style="color:black" ><i class="fa fa-fw fa-github-square"></i></a></h3>
  <h5 class="widget-user-desc">We create our fate every day we live.
</h5>
</section>
{% endblock %}


{% block page_content %}
    <h1><strong>关于小站</strong></h1>
	<h4>Email:<a  href="mailto:352554647@qq.com">352553647@qq.com</a>&nbsp;
	<a href="https://github.com/songjiyang style="color:black" ><i class="fa fa-fw fa-github-square"></i></a>
	<a href="https://weibo.com/u/3911056879?is_hot=1"style="color:black" ><i class="fa fa-fw fa-weibo"></i></a>
	<a href="https://www.facebook.com/profile.php?id=100031954634454"style="color:black" ><i class="fa fa-fw fa-facebook-official"></i></a>
	</h4>
<p>听我誓言，作吾见证：</p>
<p>Hear my words, and bear witness to my vow.</p>
<p>长夜将至，我从今开始守望，至死方休。</p>
<p>Night gathers, and now my watch begins.</p>
<p>我将不娶妻，不封地，不生子。</p>
<p>I shall take no wife, hold no lands, father no children.</p>
<p>我将不戴王冠，不争荣宠。</p>
<p>I shall wear no crowns and win no glory.</p>
<p>我将尽忠职守，生死于斯。</p>
<p>I shall live and die at my post.</p>
<p>我是黑暗中的利剑，</p>
<p>I am the sword in the darkness,</p>
<p>长城上的守卫，</p>
<p>I am the watcher on the walls.</p>
<p>抵御寒冷的烈焰，</p>
<p>I am the fire that burns against the cold,</p>
<p>破晓时分的光线，</p>
<p>the light that brings the dawn,</p>
<p>唤醒眠者的号角，</p>
<p>the horn that wakes the sleepers,</p>
<p>守护王国的坚盾。</p>
<p>the shield that guards the realms of men.</p>
<p>我将生命与荣耀献给守夜人，</p>
<p>I pledge my life and honor to the Night's Watch,</p>
<p>今夜如此，夜夜皆然。</p>
<p>for this night, and all the nights to come.</p>
{% endblock %}







