{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Fly{% endblock %}






{% block content %}

{% block topimg %}           
<section class="content" style= "background:url('../static/img/top_wind.jpg')">
  <h5 class="widget-user-desc">We create our fate every day we live.
</h5>
</section> 
{% endblock %}


{% block page_content %} <!-- post页面等等 -->
<section class="section">
                        <div class="row sameheight-container">
                            <div class="col-xl-12">
                                <div class="card sameheight-item items" data-exclude="xs,sm,lg">
                                    <div class="card-header bordered">
                                        <div class="header-block">
                                            <h3 class="title"> 文章列表 </h3>
                                            <a href="{{ url_for('.writepost') }}" class="btn btn-primary btn-sm">新文章 </a>
                                        </div>
                                        <div class="header-block pull-right">
                                            <label class="search">
                                                <input class="search-input" placeholder="search...">
                                                <i class="fa fa-search search-icon"></i>
                                            </label>
                                            <div class="pagination">
                                                <a href="" class="btn btn-primary btn-sm">
                                                    <i class="fa fa-angle-up"></i>
                                                </a>
                                                <a href="" class="btn btn-primary btn-sm">
                                                    <i class="fa fa-angle-down"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="item-list striped">
                                        <li class="item item-list-header">
                                            <div class="item-row">
                                                <div class="item-col fixed item-col-check">
                                                    <label class="item-check" id="select-all-items">
                                                        <input type="checkbox" class="checkbox">
                                                        <span></span>
                                                    </label>
                                                </div>
                                                <div class="item-col item-col-header fixed item-col-img md">
                                                    <div>
                                                        <span>Media</span>
                                                    </div>
                                                </div>
                                                <div class="item-col item-col-header item-col-title">
                                                    <div>
                                                        <span>Name</span>
                                                    </div>
                                                </div>
                                                <div class="item-col item-col-header item-col-sales">
                                                    <div>
                                                        <span>Sales</span>
                                                    </div>
                                                </div>
                                                <div class="item-col item-col-header item-col-stats">
                                                    <div class="no-overflow">
                                                        <span>Stats</span>
                                                    </div>
                                                </div>
                                                <div class="item-col item-col-header item-col-category">
                                                    <div class="no-overflow">
                                                        <span>Category</span>
                                                    </div>
                                                </div>
                                                <div class="item-col item-col-header item-col-author">
                                                    <div class="no-overflow">
                                                        <span>Author</span>
                                                    </div>
                                                </div>
                                                 <div class="item-col item-col-header item-col-author">
                                                    <div class="no-overflow">
                                                        <span>Comments</span>
                                                    </div>
                                                </div>
                                                <div class="item-col item-col-header item-col-date">
                                                    <div>
                                                        <span>Published</span>
                                                    </div>
                                                </div>
                                                <div class="item-col item-col-header fixed item-col-actions-dropdown"> </div>
                                            </div>
                                        </li>
                                        {% include '_index_posts.html' %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>
{% if pagination %}
<nav class="text-right">
    {{ macros.pagination_widget(pagination, '.index') }}
</nav>
{% endif %}
{% endblock %}

{% endblock %}



